In [15]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [16]:
#Index Levels
outside = ["G1","G1","G1","G2","G2","G2"]
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [17]:
list(zip(outside,inside))

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [19]:
df = pd.DataFrame(randn(6,2),hier_index,["A","B"])

In [20]:
df

             A         B
G1 1  2.958780  0.058886
   2 -0.154490 -3.234172
   3  1.643951 -1.148321
G2 1 -0.023507  1.452263
   2 -1.591366 -0.445665
   3  1.554639 -1.527555

In [21]:
df.loc["G1"]

          A         B
1  2.958780  0.058886
2 -0.154490 -3.234172
3  1.643951 -1.148321

In [22]:
df.loc["G1"].loc[1]

A    2.958780
B    0.058886
Name: 1, dtype: float64

In [25]:
df.index.names = ["Groups","Num"]

In [26]:
df

                   A         B
Groups Num
G1     1    2.958780  0.058886
       2   -0.154490 -3.234172
       3    1.643951 -1.148321
G2     1   -0.023507  1.452263
       2   -1.591366 -0.445665
       3    1.554639 -1.527555

In [28]:
df.loc["G2"].loc[2]["B"]

-0.44566538655452914

In [30]:
df

                   A         B
Groups Num
G1     1    2.958780  0.058886
       2   -0.154490 -3.234172
       3    1.643951 -1.148321
G2     1   -0.023507  1.452263
       2   -1.591366 -0.445665
       3    1.554639 -1.527555

In [33]:
df.loc["G1"]

            A         B
Num
1    2.958780  0.058886
2   -0.154490 -3.234172
3    1.643951 -1.148321

In [34]:
df.xs("G1")

            A         B
Num
1    2.958780  0.058886
2   -0.154490 -3.234172
3    1.643951 -1.148321

In [35]:
df.xs(1,level = "Num")

               A         B
Groups
G1      2.958780  0.058886
G2     -0.023507  1.452263